{% extends 'base.html' %}

{% block content %}
<h1>Registra Nuova Partita</h1>
<form method="post">
    <label for="gioco_id">Gioco</label>
    <select name="gioco_id" id="gioco_id" required>
        <option value="">Seleziona un gioco</option>
        {% for game in games %}
        <option value="{{ game['id'] }}">{{ game['nome'] }}</option>
        {% endfor %}
    </select>

    <label for="data">Data della Partita</label>
    <input name="data" id="data" type="date" required>

    <label for="vincitore">Nome del Vincitore</label>
    <input name="vincitore" id="vincitore" required>

    <label for="punteggio_vincitore">Punteggio del Vincitore</label>
    <input name="punteggio_vincitore" id="punteggio_vincitore" type="number" min="0" required>

    <input type="submit" value="Registra Partita">
</form>
{% endblock %}
